* { margin:0; padding:0; }
html, body { height:100%; width:100%; }

.expr{
    position: fixed;
    top: 30px;
    left: 400px;
    font-size: 24px;
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
}
.expr > input {
    width: 80%;
    margin: 0;
}
.expr > input::placeholder{
    text-align: center;
    font-size: 16px;
    letter-spacing: 7px;
}
.expr > input {
    text-align: center;
    font-size: 16px;
}

.data{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 25px 20px;
    justify-content: center;
    border-left: 5px solid #ccc;
    padding: 10px 5px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.data:hover{
    border-color: black;
}

.data div{
    display: flex;
}

.data label {
    margin-right: 15px;
}

input {
    width: 75px;
    height: 20px;
    margin-bottom: 10px;
}

button {
    width: 85px;
    margin-left: 10px;
    padding: 5px 10px;
    background: none;
    border: 3px solid #ccc;
    border-radius: 3px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

button:hover{
    border-color: black;
}

canvas { 
    height:100%; 
    width:100%; 
}